Repository ansys/pysimai, pull requests merged in 2024-05, with the labels that each got.

#52 fix: CI not running test with specified python
  .github/workflows/ci_cd.yml
  src/ansys/simai/core/data/projects.py
Labels: bug, maintenance

#44 Set DoA in model configuration
  .pre-commit-config.yaml
  README.rst
  doc/.vale.ini
  doc/source/api_reference/models.rst
  doc/styles/.gitignore
  src/ansys/simai/core/data/models.py
  tests/test_models.py
  tests/test_projects.py
Labels: documentation, enhancement

#54 fix some crashes caused by client. _current_workspace
  pyproject.toml
  src/ansys/simai/core/data/base.py
  src/ansys/simai/core/data/design_of_experiments.py
  src/ansys/simai/core/data/post_processings.py
  src/ansys/simai/core/data/predictions.py
  src/ansys/simai/core/data/types.py
  src/ansys/simai/core/data/workspaces.py
  tests/test_post_processings.py
Labels: maintenance
