Repository ansys/pysimai, pull requests merged in 2024-07, with the labels that each got.

#68 Doc: Improvements in training_data.py
  src/ansys/simai/core/data/training_data.py
Labels: documentation

#69 fix: remove uses of deprecated workspace.model
  src/ansys/simai/core/data/geometries.py
  src/ansys/simai/core/data/post_processings.py
  src/ansys/simai/core/data/predictions.py
Labels: bug

#70 release: v0.2.2
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance
