Repository ansys/pysimai, pull requests merged in 2024-09, with the labels that each got.

#83 Download mer data
  src/ansys/simai/core/api/workspace.py
  src/ansys/simai/core/data/workspaces.py
  tests/test_workspace.py
Labels: enhancement

#84 build preset to take only supported values
  src/ansys/simai/core/data/model_configuration.py
  tests/test_model_configuration.py
Labels: enhancement

#82 fix: error on accessing global coeffcients data
  src/ansys/simai/core/data/post_processings.py
  tests/test_post_processings_results.py
Labels: bug

#85 refactor auth tokens retrieval/refresh process
  doc/source/conf.py
  pdm.lock
  pyproject.toml
  src/ansys/simai/core/utils/auth.py
  src/ansys/simai/core/utils/configuration.py
  src/ansys/simai/core/utils/files.py
  tests/test_config.py
  tests/test_utils_auth.py
  tests/test_utils_files.py
Labels: documentation, maintenance

#87 raw_confidence_score property for predictions
  src/ansys/simai/core/data/predictions.py
  tests/conftest.py
  tests/test_core_sse.py
  tests/test_predictions.py
Labels: enhancement

#89 Release v0.2.4
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance, release

#86 add simai.training_data.list(filters=...)
  .pre-commit-config.yaml
  pyproject.toml
  src/ansys/simai/core/api/training_data.py
  src/ansys/simai/core/data/training_data.py
  src/ansys/simai/core/data/types.py
  src/ansys/simai/core/utils/requests.py
  tests/test_data_types.py
  tests/test_post_processings.py
  tests/test_training_data.py
  tests/utils/test_auth.py
  tests/utils/test_config.py
  tests/utils/test_files.py
  tests/utils/test_requests.py
Labels: enhancement, maintenance

#91 Models property: Fixing mix-up between models and workspaces
  src/ansys/simai/core/client.py
Labels: bug

#92 chore: remove design of experiments
  doc/source/api_reference/design_of_experiments.rst
  src/ansys/simai/core/api/client.py
  src/ansys/simai/core/api/design_of_experiments.py
  src/ansys/simai/core/client.py
  src/ansys/simai/core/data/design_of_experiments.py
  tests/test_design_of_experiments.py
Labels: documentation
