Repository ansys/pysimai, pull requests merged in 2024-12, with the labels that each got.

#113 feat: check project is trainable before build
  src/ansys/simai/core/data/model_configuration.py
  src/ansys/simai/core/data/models.py
  src/ansys/simai/core/data/projects.py
  tests/test_models.py
Labels: documentation, enhancement

#104 Raise an error when a variable is not found in the reference sample
  src/ansys/simai/core/data/model_configuration.py
  tests/test_model_configuration.py
  tests/test_models.py
Labels: enhancement

#115 migrations for ansys-actions-v8
  .github/workflows/ci_cd.yml
Labels: maintenance
