Repository ansys/pysimai, pull requests merged in 2024-08, with the labels that each got.

#75 Support NaN in SDK for global coefficients
  src/ansys/simai/core/data/global_coefficients_requests.py
  src/ansys/simai/core/data/post_processings.py
Labels: enhancement

#74 fix: optimization failing on Mode.success
  src/ansys/simai/core/data/optimizations.py
Labels: bug

#72 [Fix] Exception when volume is missing from sample
  src/ansys/simai/core/data/model_configuration.py
  tests/test_models.py
Labels: bug

#67 Document how to launch a build
  doc/source/user_guide.rst
  doc/source/user_guide/building_a_model.rst
  doc/source/user_guide/training.rst
Labels: documentation

#78 tweak: rename training data compute to extract data
  src/ansys/simai/core/data/post_processings.py
  src/ansys/simai/core/data/training_data.py
Labels: enhancement

#73 PostProcessInput class
  doc/source/api_reference/model_configuration.rst
  src/ansys/simai/core/data/model_configuration.py
  tests/test_models.py
Labels: documentation, enhancement

#79 fix: geometry.upload correctly documents workspace arg
  src/ansys/simai/core/data/geometries.py
Labels: bug

#80 release v0.2.3
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance
