Repository ansys/pysimai, pull requests merged in 2024-10, with the labels that each got.

#88 fix payload for surface_pp_input
  src/ansys/simai/core/data/model_configuration.py
  src/ansys/simai/core/utils/misc.py
  tests/test_models.py
Labels: bug

#90 Check geometry generation function has a suitable signature (optimization)
  src/ansys/simai/core/data/optimizations.py
  tests/test_optimizations.py
Labels: enhancement

#93 Update workspaces.py typo
  src/ansys/simai/core/data/workspaces.py
Labels: enhancement

#99 Fix filters in `TrainingDataDirectory.list`
  src/ansys/simai/core/api/training_data.py
  tests/test_training_data.py
Labels: bug

#98 Print out resolution when it exists
  src/ansys/simai/core/utils/requests.py
  tests/test_models.py
Labels: enhancement

#56 Doc: PySimAI examples section
  doc/source/_static/ansys_simai.png
  doc/source/_static/pyansys-logo-light_mode.png
  doc/source/conf.py
  doc/source/examples/00-model_configuration_reuse.py
  doc/source/examples/01-model_recomputation.py
  doc/source/examples/02-subset_assignment.py
  doc/source/examples/03-list_based_subset_assignment.py
  doc/source/examples/README.txt
  doc/source/index.rst
  doc/source/user_guide/configuration.rst
  pdm.lock
  pyproject.toml
Labels: documentation, maintenance

#101 Cancel model build
  .github/workflows/ci_cd.yml
  src/ansys/simai/core/api/project.py
  src/ansys/simai/core/data/projects.py
  tests/test_projects.py
Labels: enhancement, maintenance
