Repository ansys/pysimai, pull requests merged in 2024-06, with the labels that each got.

#58 Retire support mentions
  doc/source/api_reference/geometries.rst
  src/ansys/simai/core/data/post_processings.py
Labels: documentation

#60 doc: Add inherited-members to PostProcessing doc
  doc/source/api_reference/post_processings.rst
Labels: documentation

#61 [fix] upload of large files
  src/ansys/simai/core/data/training_data.py
Labels: bug

#39 Build configuration from scratch
  CHANGELOG.rst
  doc/source/api_reference/global_coefficients_requests.rst
  doc/source/api_reference/model_configuration.rst
  doc/source/api_reference/models.rst
  src/ansys/simai/core/api/project.py
  src/ansys/simai/core/api/sse.py
  src/ansys/simai/core/client.py
  src/ansys/simai/core/data/global_coefficients_requests.py
  src/ansys/simai/core/data/model_configuration.py
  src/ansys/simai/core/data/models.py
  src/ansys/simai/core/data/projects.py
  tests/conftest.py
  tests/test_global_coefficient_requests.py
  tests/test_models.py
  tests/test_projects.py
Labels: documentation, enhancement

#57 Allow assign subset to None; Retire: Ignored and Validation
  src/ansys/simai/core/api/training_data.py
  src/ansys/simai/core/data/training_data.py
  src/ansys/simai/core/data/types.py
  tests/test_training_data.py
Labels: enhancement

#62 [Documentation] Note on training using last config
  doc/source/user_guide/training.rst
Labels: documentation

#64 Release v0.2.0
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance, release

#66 Release v0.2.1
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance
