Repository ansys/pysimai, pull requests merged in 2024-04, with the labels that each got.

#35 Introduce non-interactive mode
  doc/source/user_guide/configuration.rst
  src/ansys/simai/core/client.py
  src/ansys/simai/core/utils/configuration.py
  tests/test_config.py
Labels: documentation, enhancement

#37 Adding is_trainable and get_variables in Project
  doc/source/api_reference/projects.rst
  src/ansys/simai/core/api/project.py
  src/ansys/simai/core/data/projects.py
  tests/test_projects.py
Labels: documentation, enhancement

#40 fix: use the private optimization _try_geometry
  src/ansys/simai/core/data/optimizations.py
Labels: bug

#38 Use last build configuration for a new build
  doc/source/api_reference/models.rst
  src/ansys/simai/core/api/project.py
  src/ansys/simai/core/client.py
  src/ansys/simai/core/data/models.py
  src/ansys/simai/core/data/projects.py
  tests/test_models.py
  tests/test_projects.py
Labels: documentation, enhancement

#41 Release v. 0.1.5
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance

#42 Allow user to set Train/Validation/Test subset on training data
  src/ansys/simai/core/api/training_data.py
  src/ansys/simai/core/data/training_data.py
  src/ansys/simai/core/data/types.py
  tests/test_training_data.py
Labels: enhancement

#47 release: v0.1.6
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance
