Repository ansys/pysimai, pull requests merged in 2024-11, with the labels that each got.

#102 Fix examples
  src/ansys/simai/core/client.py
  src/ansys/simai/core/data/post_processings.py
  src/ansys/simai/core/data/workspaces.py
Labels: bug

#100 feat: Add support for non_parametric optimization
  CHANGELOG.rst
  doc/source/api_reference/optimizations.rst
  src/ansys/simai/core/api/optimization.py
  src/ansys/simai/core/client.py
  src/ansys/simai/core/data/optimizations.py
  tests/test_optimizations.py
Labels: documentation, enhancement

#105 release: v0.2.5
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance

#108 fix(doc): remove invalid arg for optim
  src/ansys/simai/core/data/optimizations.py
Labels: bug

#106 Fix wrong type hints on SimAIClient
  CHANGELOG.rst
  pdm.lock
  pyproject.toml
  src/ansys/simai/core/client.py
  src/ansys/simai/core/utils/typing.py
Labels: maintenance

#111 Add codeowners file
  .github/CODEOWNERS
Labels: maintenance

#112 Add options for using custom TLS CA bundles
  doc/source/user_guide/config_file.rst
  doc/source/user_guide/proxy.rst
  pdm.lock
  pyproject.toml
  src/ansys/simai/core/api/mixin.py
  src/ansys/simai/core/utils/configuration.py
  tests/test_client_config_tls_ca_bundle.py
Labels: documentation, maintenance
