Repository ansys/pysimai, pull requests merged in 2025-06, with the labels that each got.

#136 dev: switch to uv
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  pdm.lock
  pyproject.toml
  tox.ini
  uv.lock
Labels: documentation, maintenance

#152 feat: improve check for parametric and non parametric optimizations
  src/ansys/simai/core/data/optimizations.py
  tests/test_optimizations.py
Labels: enhancement

#159 feat: optional boundary conditions on optimization runs
  src/ansys/simai/core/data/optimizations.py
Labels: enhancement

#155 feat: geomai preview
  doc/source/api_reference.rst
  doc/source/api_reference/geomai/client.rst
  doc/source/api_reference/geomai/models.rst
  doc/source/api_reference/geomai/predictions.rst
  doc/source/api_reference/geomai/projects.rst
  doc/source/api_reference/geomai/training_data.rst
  doc/source/api_reference/geomai/training_data_parts.rst
  doc/source/api_reference/geomai/workspaces.rst
  doc/source/api_reference/models.rst
  doc/source/api_reference/training_data.rst
  doc/source/conf.py
  src/ansys/simai/core/api/client.py
  src/ansys/simai/core/api/geomai/__init__.py
  src/ansys/simai/core/api/geomai/predictions.py
  src/ansys/simai/core/api/geomai/projects.py
  src/ansys/simai/core/api/geomai/training_data.py
  src/ansys/simai/core/api/geomai/training_data_parts.py
  src/ansys/simai/core/api/geomai/workspaces.py
  src/ansys/simai/core/api/sse.py
  src/ansys/simai/core/client.py
  src/ansys/simai/core/data/base.py
  src/ansys/simai/core/data/geomai/__init__.py
  src/ansys/simai/core/data/geomai/client.py
  src/ansys/simai/core/data/geomai/models.py
  src/ansys/simai/core/data/geomai/predictions.py
  src/ansys/simai/core/data/geomai/projects.py
  src/ansys/simai/core/data/geomai/training_data.py
  src/ansys/simai/core/data/geomai/training_data_parts.py
  src/ansys/simai/core/data/geomai/workspaces.py
  src/ansys/simai/core/data/models.py
  src/ansys/simai/core/data/projects.py
  src/ansys/simai/core/data/types.py
  src/ansys/simai/core/data/workspaces.py
  src/ansys/simai/core/utils/configuration.py
  tests/test_geomai_projects.py
  tox.ini
Labels: documentation, enhancement
