Repository ansys/pysimai, pull requests merged in 2025-03, with the labels that each got.

#127 fix: CI documentation build
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#124 add clt.training_data.iter()
  .github/workflows/ci_cd.yml
  src/ansys/simai/core/api/training_data.py
  src/ansys/simai/core/data/training_data.py
  src/ansys/simai/core/data/types.py
  src/ansys/simai/core/utils/pagination.py
  tests/test_training_data.py
Labels: maintenance

#129 Fix: turn log from error to debug when receiving event that the sdk don't deal with
  src/ansys/simai/core/data/base.py
Labels: bug

#126 fix: Deleting PointCloud cleanses cache
  src/ansys/simai/core/data/geometries.py
  src/ansys/simai/core/data/post_processings.py
  tests/test_geometries.py
Labels: bug

#133 docs/fixed the doc as requested by shortcut ticket 28787
  doc/source/user_guide/building_a_model.rst
Labels: documentation

#134 release: v0.2.7
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance
