Repository ansys/pysimai, pull requests merged in 2025-05, with the labels that each got.

#141 feat: user api wont return record for jobs with pending status
  .gitignore
  pyproject.toml
  src/ansys/simai/core/data/base.py
  tests/test_core_sse.py
Labels: enhancement, maintenance

#148 Release v0.3.0
  CHANGELOG.rst
  pyproject.toml
Labels: maintenance

#139 feat: add checks on "build on top"
  doc/source/api_reference/projects.rst
  src/ansys/simai/core/api/project.py
  src/ansys/simai/core/data/models.py
  src/ansys/simai/core/data/projects.py
  tests/test_models.py
Labels: documentation, enhancement

#150 docs: fix outdated examples and references
  doc/source/user_guide/data_exploration.rst
  src/ansys/simai/core/data/model_configuration.py
  src/ansys/simai/core/data/post_processings.py
Labels: documentation

#151 docs: update code examples for the optimization parametric and non parametric
  src/ansys/simai/core/data/optimizations.py
Labels: documentation
